<a href="https://colab.research.google.com/github/ParthSharma1197/EDA-CAPSTONE-AIRBNB/blob/main/PARTH_SHARMA_Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>


### **EXPLORATORY DATA ANALYSIS**
EDA or Exploratory Data Analysis is the critical process of performing the initial investgation on the data to find the 
anamolies in our data and shape it such that it is useful for taking some insights to sole our purpose.
There are certain step that we follow initially we will clean our data and make it free from anamolies such as Nan values,missing values and such values that could hinder the accuacy of  our analysis.

## **Step 1**
First, we will mount the drive and  import all the python libraries that are required throughout the course of our analysis, which include NumPy for numerical calculations and scientific computing, Pandas for cleaning,performing required actions on the dataset, and Matplotlib and Seaborn that will be used for visualization.

In [1]:
# mounting the drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#importing the libraries required for the analysis
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## **Step 2**
We will now load the data into the colab envirnoment and perform some actions to study and clean our data.

In [3]:
#importing the dataset in our colab envirnoment
working_dir_path ="/content/drive/MyDrive/Colab Notebooks/capstone project/Airbnb NYC 2019.csv"
airbnb_df=pd.read_csv(working_dir_path)

In [4]:
# Just for having the basic overview of our dataset showing only fist 5 rows.
airbnb_df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [5]:
# Same with the tail function showing last 5 rows of the dataset
airbnb_df.tail()

             id  ... availability_365
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[5 rows x 16 columns]

In [6]:
#Just having a look at input features to analyse which of them are relevant for our analysis.
airbnb_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [7]:
# Just observing the dimensions of the data.
airbnb_df.shape

(48895, 16)

In [8]:
#Just thought of having a concise descriptive summary of my dataset.
airbnb_df.describe()

                 id  ...  availability_365
count  4.889500e+04  ...      48895.000000
mean   1.901714e+07  ...        112.781327
std    1.098311e+07  ...        131.622289
min    2.539000e+03  ...          0.000000
25%    9.471945e+06  ...          0.000000
50%    1.967728e+07  ...         45.000000
75%    2.915218e+07  ...        227.000000
max    3.648724e+07  ...        365.000000

[8 rows x 10 columns]

In [9]:
#Just thought of having a concise summary of my dataset.
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

## **Note**:

##### 1. From the above the summary i can asses that the dataset has null or missing values in  some input feature  and  need to decide whether to drop the whole column or impute some value such as 0 or average  in those null column based on the requirement of  further analysis

##### 2. For that i need the exact count of null values present in each column that is done below.
##### 3.We must check for duplicate values but since in this data set the repeating  entries makes relevance therefore we will not be removing any duplicate values.

In [10]:
airbnb_df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

*  ## **From our purpose of solving the problem i decided drop the id,last_review**


1.As id belong to the an indiviual and that doesnot affect the scope of our analysis that is why it can be dropped.

2.Review as last review is the date data type column and that does not add much significance to our purpose of data aalysis       therefore dropping the last review  date.

### **NOTE:**
1.Even if these column did not have any null value these columns are worth being dropped on the parameter of relevance to our analysis in order to make it concise and easy to study further.

In [11]:
#dropping columns that are not significant or could be of least use for our future data exploration

airbnb_df.drop(['id','last_review'], axis=1, inplace=True)

In [12]:
#having a look at my dataset after a small step of dataset cleaning.
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            48879 non-null  object
 1   host_id                         48895 non-null  int64
 2   host_name                       48874 non-null  object
 3   neighbourhood_group             48895 non-null  object
 4   neighbourhood                   48895 non-null  object
 5   latitude                        48895 non-null  float64
 6   longitude                       48895 non-null  float64
 7   room_type                       48895 non-null  object
 8   price                           48895 non-null  int64
 9   minimum_nights                  48895 non-null  int64
 10  number_of_reviews               48895 non-null  int64
 11  reviews_per_month               38843 non-null  float64
 12  calculated_host_listings_count  48895 non-null  int64
 13  availability_365                48895 non-null  int64
dtypes: float64(3), int64(6), object(5)
memory usage: 5.2+ MB

* We have cleaned our data to much extend but the input feature that are required and containes  the null values,we need to just impute certain values to that.

In [13]:
#imputing zero in place of nan values on the reviews_per_month.
airbnb_df.reviews_per_month=airbnb_df.reviews_per_month.replace(np.nan,0)

In [14]:
# looking at the dataset after the changes made.
airbnb_df.head()

                                               name  ...  availability_365
0                Clean & quiet apt home by the park  ...               365
1                             Skylit Midtown Castle  ...               355
2               THE VILLAGE OF HARLEM....NEW YORK !  ...               365
3                   Cozy Entire Floor of Brownstone  ...               194
4  Entire Apt: Spacious Studio/Loft by central park  ...                 0

[5 rows x 14 columns]

In [15]:
airbnb_df.isna().sum()

name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

* ### Looking at the above stat shown it is visible that there are some missing values present in the name column and since these are approximately 0.0327 % of the total so it will be wise to drop those particular rows off the dataset

In [16]:
airbnb_df=airbnb_df.dropna()

In [17]:
airbnb_df.isna().sum()

name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

* ### Now looking at the above the result it  can be said  that there are no null values present in our data as we have dropped the columns that are of least significant or containing the null values  and rows that contain the missing value.

* #### After cleaning the data just having a look at the dataset to have some 

insight of other factors also.

* #### Let's look at some of the categorical columns that are useful in our analysis.

In [18]:
#checking for unique neighbouhood groups in dataframe
airbnb_df.neighbourhood_group.unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [19]:
#checking for unique room type in dataframe
airbnb_df.room_type.unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)